{% extends "layout.html" %}

{% block content %}
	{% if user.is_authenticated %}
			<p class="display-4">Hello, {{ user.username }} is not an Admin, So No Permission to Login</p>
			<a class="lead" href="{% url 'login' %}">Log in</a>
	{% else %}
		<a class="lead" href="{% url 'login' %}">Log in</a>
	{% endif %}
{% endblock content %}