{% extends "layout.html" %}
{% load static %}
{% block content %}
	{% if user.is_authenticated %}
			<p>Hello, {{ user.username }}</p>
			<div class="row">
				<div class="col-md-3">
					<div class="col-md-12">
						<button id="btn_manufacturer">Manufaturers</button>
					</div>
					<div class="col-md-12">
						<button id="btn_model">Car Models</button>
					</div>
					<div class="col-md-12">
						<button id="btn_customer">Customers</button>
					</div>
					<div class="col-md-12">
						<button id="btn_car">Cars</button>
					</div>
					<div class="col-md-12">
						<button id="btn_mechanic">Mechanic Persons</button>
					</div>
					<div class="col-md-12">
						<button id="btn_booking">Bookings</button>
					</div>
				</div>
				<div class="col-md-9">
					<div class="row">
						<div class="col-md-12" id="manufaturers_div" style="display: none;">
							<label>Manufacturers</label>
							<div class="row">
								<table cellpadding="0" cellspacing="0" border="0" style="margin-bottom: 0px !important;" class="table table-bordered table-responsive table-striped" >
									<thead>
										<tr>
											<th>manufaturer code</th>
											<th>manufaturer name</th>
											<th>manufaturer details</th>
											<th></th>
										</tr>
									</thead>
									<tbody id="manufaturer_data"></tbody>
								</table>
							</div>
							<div class="row">
								<div class="col-md-12" id="manufaturer_data_div">
									<div class="row">
										<div class="col-md-6">
											<label>manufaturer code</label>
										</div>
										<div class="col-md-6">
											<input type="text" name="" id="manufaturer_code">
										</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<label>manufaturer name</label>
										</div>
										<div class="col-md-6">
											<input type="text" name="" id="manufaturer_name">
										</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<label>manufaturer details</label>
										</div>
										<div class="col-md-6">
											<textarea id="manufaturer_details"></textarea>
										</div>
									</div>
									<div class="row">
										<button id="save_manufaturer">Save</button>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-12" id="models_div" style="display: none;">
							<label>Car Models</label>
							<table cellpadding="0" cellspacing="0" border="0" style="margin-bottom: 0px !important;" class="table table-bordered table-responsive table-striped" >
								<thead>
									<tr>
										<th>model code</th>
										<th>model name</th>
										<th>daily hire rate</th>
										<th>manufaturer</th>
										<th></th>
									</tr>
								</thead>
								<tbody id="model_data"></tbody>
							</table>
						</div>
						<div class="col-md-12" id="customer_div" style="display: none;">
							<label>Customers</label>
							<div class="row">
								<table cellpadding="0" cellspacing="0" border="0" style="margin-bottom: 0px !important;" class="table table-bordered table-responsive table-striped" >
									<thead>
										<tr>
											<th>customer id</th>
											<th>first name</th>
											<th>last name</th>
											<th>title</th>
											<th>gender</th>
											<th>email</th>
											<th>phone_number</th>
											<th>address line 1</th>
											<th>address line 2</th>
											<th>address line 3</th>
											<th>city</th>
											<th>state</th>
											<th>other_customer_details</th>
											<th></th>
										</tr>
									</thead>
									<tbody id="customer_data"></tbody>
								</table>
							</div>
							<div class="row">
								<div class="col-md-12" id="customer_data_div">
									<div class="row">
										<div class="col-md-6">
											<label>customer id</label>
										</div>
										<div class="col-md-6">
											<input type="text" name="" id="customer_id">
										</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<label>first name</label>
										</div>
										<div class="col-md-6">
											<input type="text" name="" id="first_name">
										</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<label>last name</label>
										</div>
										<div class="col-md-6">
											<input type="text" name="" id="last_name">
										</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<label>title</label>
										</div>
										<div class="col-md-6">
											<input type="text" name="" id="title">
										</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<label>gender</label>
										</div>
										<div class="col-md-6">
											<select id="gender">
												<option value="Male">Male</option>
												<option value="Female">Female</option>
											</select>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<label>email</label>
										</div>
										<div class="col-md-6">
											<input type="text" name="" id="email">
										</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<label>phone number</label>
										</div>
										<div class="col-md-6">
											<input type="text" name="" id="phone_number">
										</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<label>address line 1</label>
										</div>
										<div class="col-md-6">
											<input type="text" name="" id="address_line_1">
										</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<label>address line 2</label>
										</div>
										<div class="col-md-6">
											<input type="text" name="" id="address_line_2">
										</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<label>address line 3</label>
										</div>
										<div class="col-md-6">
											<input type="text" name="" id="address_line_3">
										</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<label>city</label>
										</div>
										<div class="col-md-6">
											<input type="text" name="" id="city">
										</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<label>state</label>
										</div>
										<div class="col-md-6">
											<input type="text" name="" id="state">
										</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<label>other details</label>
										</div>
										<div class="col-md-6">
											<textarea id="other_customer_details"></textarea>
										</div>
									</div>
									<div class="row">
										<button id="save_customer">Save</button>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-12" id="car_div" style="display: none;">
							<label>Cars</label>
							<table cellpadding="0" cellspacing="0" border="0" style="margin-bottom: 0px !important;" class="table table-bordered table-responsive table-striped" >
								<thead>
									<tr>
										<th>car_model</th>
										<th>customer</th>
										<th>license number</th>
										<th>current milege</th>
										<th>engine size</th>
										<th>other car details</th>
										<th></th>
									</tr>
								</thead>
								<tbody id="car_data"></tbody>
							</table>
						</div>
						<div class="col-md-12" id="mechanic_div" style="display: none;">
							<label>Mechanic Persons</label>
							<table cellpadding="0" cellspacing="0" border="0" style="margin-bottom: 0px !important;" class="table table-bordered table-responsive table-striped" >
								<thead>
									<tr>
										<th>mechanic id</th>
										<th>mechanic name</th>
										<th>other mechanic details</th>
										<th></th>
									</tr>
								</thead>
								<tbody id="mechanic_data"></tbody>
							</table>
						</div>
						<div class="col-md-12" id="booking_div" style="display: none;">
							<label>Bookings</label>
							<table cellpadding="0" cellspacing="0" border="0" style="margin-bottom: 0px !important;" class="table table-bordered table-responsive table-striped" >
								<thead>
									<tr>
										<th>car</th>
										<th>mechanic</th>
										<th>customer</th>
										<th>booking_id</th>
										<th>date of service</th>
										<th>payment recieved</th>
										<th>other booking details</th>
										<th></th>
									</tr>
								</thead>
								<tbody id="booking_data"></tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
	{% else %}
		<a class="lead" href="{% url 'login' %}">Log in</a>
	{% endif %}
{% endblock content %}
{% block js %}
{{block.super}}
<script src="{% static 'js/home.js' %}"></script>
{% endblock js %}