<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>Car Service</title>
</head>
<link href="{% static 'css/bootstrap.min.css'%}" type="text/css" rel="stylesheet">
<link href="{% static 'css/jquery-ui.css'%}" type="text/css" rel="stylesheet">
<body>
	<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
		<div class="container">
			Car Service
		</div>  
	</nav>
    <div class="container">
	    {% block content %}	
	    {% endblock content %}
    </div>
</body>
{% block js %}
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/jquery-migrate-3.0.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
{% endblock js %}
</html>